


body {
	background: url('../images/hogwarts.jpg') center;	 

}

h1, .instructions {
	text-align: center;
	color: gold;
}

#game {
	text-align: center;
	color: gold;
}



.buttons .btn img {
	width: 100%;
	height: 100%;
	border: 20px;

}

.btn-1 {
	
	height: 300px;
	width: 250px;
	border: 20px;
	margin: 20px;
}

.btn-2 {
	
	height: 300px;
	width: 250px;
	border: 20px;
	margin: 20px;
}

.btn-3 {
	
	height: 300px;
	width: 250px;
	border: 20px;
	margin: 20px;
}

.btn-4 {
	
	height: 300px;
	width: 250px;
	border: 20px;
	margin: 20px;
}



